doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Update Custom Object
        p 
            a(href="/") Return to the homepage
        
        div.form-wrapper
            form(method="POST" action="/update-cobj")
                label(for="pet_name") Pet Name:
                input(type="text" id="pet_name" name="pet_name" required)
                
                label(for="pet_type") Pet Type:
                input(type="text" id="pet_type" name="pet_type" required)
                
                label(for="pet_age") Pet Age:
                input(type="number" id="pet_age" name="pet_age" required)
                
                input(type="submit" value="Create Pet")
